.queue{
  width: 318px;
  height: 703px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 8px 15px;
  gap: 4px;
  border-radius: 12px 0 0 12px;
  scroll-behavior: smooth;
  overflow: auto;
  background-color: var(--mat-sys-background);
  .now-playing{
    p{
      margin-top: 24px;
      margin-left: 7px;
    }
  }
  .next-song{
    p{
      margin-left: 7px;
    }
  }
}

.heading{
  color: var(--mat-sys-on-primary);
}

.queue::-webkit-scrollbar{
  display: none;
}
