<div class="queue">
  <div class="now-playing">
    <p>Now playing</p>
    <app-queue-song-detail></app-queue-song-detail>
  </div>
  <div class="next-song">
    <p>Next song:</p>
    @for (item of [1,2,3,4,5,6,7,8,9,10];track $index){
      <app-queue-song-detail></app-queue-song-detail>
    }
  </div>
</div>
<!--<mat-drawer-container class="queue" autosize>-->
<!--  &lt;!&ndash; Nội dung chính của trang &ndash;&gt;-->
<!--  <mat-drawer-content>-->
<!--    <p>Đây là content chính (ví dụ player bar, trang nghe nhạc, ...)</p>-->
<!--    <button mat-raised-button (click)="drawer.toggle()">Mở Queue</button>-->
<!--  </mat-drawer-content>-->

<!--  &lt;!&ndash; Queue (ngăn kéo) &ndash;&gt;-->
<!--  <mat-drawer #drawer mode="side" position="end">-->
<!--    <div class="now-playing">-->
<!--      <p>Now playing</p>-->
<!--      <app-queue-song-detail></app-queue-song-detail>-->
<!--    </div>-->
<!--    <div class="next-song">-->
<!--      <p>Next song:</p>-->
<!--      @for (item of [1,2,3,4,5,6,7,8,9,10]; track $index){-->
<!--        <app-queue-song-detail></app-queue-song-detail>-->
<!--      }-->
<!--    </div>-->
<!--  </mat-drawer>-->
<!--</mat-drawer-container>-->
