<mat-toolbar color="primary" class="toolbar">
  <div class="left">
    <button mat-icon-button (click)="onToggleSidebar()">
      <mat-icon>menu</mat-icon>
    </button>
    <div class="outline-search">
      <input
        type="text"
        placeholder="Search..."
        class="search-input"
        [formControl]="searchControl"
        (click)="navigateToSearch()"
        (keyup.enter)="navigateToSearch()"
      />
      <mat-icon class="material-symbols-rounded" (click)="navigateToSearch()"
        >search</mat-icon
      >
    </div>
  </div>

  @if (profile$ | async; as profile) {
    @if (profile.uid) {
      <button mat-stroked-button (click)="openCreateDialog()">
        <mat-icon>add</mat-icon>
        <span>Create playlist</span>
      </button>
    }
  }

  @if (profile$|async; as profile) {
    @if (profile.id) {
      <div class="user-login" [matMenuTriggerFor]="profileMenu">
        <img src="{{ profile.photoUrl }}" class="user-profile" (error)="onImgError($event)" alt="avatar"/>
      </div>
      <mat-menu #profileMenu="matMenu">
        <button mat-menu-item (click)="navigateToProfile()">
          <mat-icon>person</mat-icon>
          <span>Profile</span>
        </button>
        <button mat-menu-item (click)="logout()">
          <mat-icon>logout</mat-icon>
          <span>Log out</span>
        </button>
      </mat-menu>
    } @else {
      <button mat-flat-button (click)="openLoginDialog()">
        Login
      </button>
    }
  }


</mat-toolbar>
