<mat-toolbar  color="primary" class="toolbar">
  <div class="left">
    <button mat-icon-button (click)="onToggleSidebar()">
      <mat-icon>menu</mat-icon>
    </button>
    <div class="outline-search">
      <input type="text" placeholder="Search some song" class="search-input" (keyup.enter)="navigateToSearch()" />
      <mat-icon  class="material-symbols-rounded" (click)="navigateToSearch()">search</mat-icon>
    </div>
  </div>

  <button mat-icon-button class="user-none-login" aria-label="Example icon-button with share icon">
    <mat-icon class="material-symbols-rounded">person</mat-icon>
  </button>

</mat-toolbar>
