<footer>
  <div class="player-left">
    <img
      src="https://upload.wikimedia.org/wikipedia/vi/2/20/JustaTee_-_Thang_dien.jpg"
      alt="Current playing song cover art"
    />
    <div class="player-song-info">
      <div class="player-song-title" title="Med Med Med Med">
        <p>Thằng điên</p>
      </div>
      <div class="player-song-artist">
        <p>JUSTA TEE x PHƯƠNG LY</p>
      </div>
    </div>
  </div>

  <div class="player-center">
    <div
      class="player-controls"
      role="group"
      aria-label="Playback controls"
    >
      <button mat-icon-button aria-label="Shuffle">
        <mat-icon class="icon">shuffle</mat-icon>
      </button>
      <button mat-icon-button aria-label="Previous">
        <mat-icon class="icon">skip_previous</mat-icon>
      </button>
      <div class="play-button">
        <button mat-icon-button>
          <mat-icon style="color: var(--mat-sys-surface-container-high)">play_arrow</mat-icon>
        </button>
      </div>
      <button mat-icon-button aria-label="Next" class="play-button">
        <mat-icon class="icon">skip_next</mat-icon>
      </button>
      <button mat-icon-button aria-label="Repeat">
        <mat-icon class="icon">sync</mat-icon>
      </button>
    </div>

    <div class="player-progress">
      <span>0:00</span>
      <input
        type="range"
        min="0"
        max="100"
        value="50"
        aria-label="Song progress"
      />
      <span>5:08</span>
    </div>
  </div>

  <div class="player-right">

      <div class="smallAlbum">
        <button mat-icon-button aria-label="Fullscreen" (click)="toggleSmallAlbum()">
          <mat-icon class="icon" fontSet="material-icons-outlined">image</mat-icon>
        </button>

        <mat-drawer-container>
          <mat-drawer #smallAlbum mode="over" position="end" class="drawer" autoFocus="false">
            <app-small-album></app-small-album>
          </mat-drawer>
        </mat-drawer-container>

      </div>

      <div class="lyric">
        <button mat-icon-button (click)="toggleLyric()" aria-label="lyric-frame">
          <mat-icon class="icon">music_note</mat-icon>
        </button>

        <mat-drawer-container class="lyric-container" autosize>
          <mat-drawer #lyric mode="over" position="end" class="drawer" autoFocus="false">
            <app-lyric></app-lyric>
          </mat-drawer>
        </mat-drawer-container>
      </div>

      <div class="queue">
        <button mat-icon-button aria-label="Queue" (click)="toggleQueue()">
          <mat-icon class="icon">playlist_play</mat-icon>
        </button>

        <mat-drawer-container>
          <mat-drawer #queue mode="over" position="end" class="drawer" autoFocus="false">
            <app-queue></app-queue>
          </mat-drawer>
        </mat-drawer-container>

      </div>

      <button aria-label="Volume" style="display: flex; align-items: center; gap: 4px">
        <mat-icon class="icon">volume_up</mat-icon>
        <input
          type="range"
          min="0"
          max="100"
          value="70"
          aria-label="Volume control"
        />
      </button>
    </div>
</footer>
