  <form [formGroup]="form" class="upload-container">

    <div class="left-col">
      <div class="upload-music-box"
           (dragover)="onMusicDragOver($event)"
           (dragleave)="onMusicDragLeave($event)"
           (drop)="onMusicDrop($event)"
           [class.drag-over]="musicDragOver"
           (click)="fileInput.click()">
              <img mat-card-image src="./assets/images/cloud-upload_icon-icons.com_54314.png" class="" alt="">
        <p>Drag music here or click to select file</p>
        <button mat-flat-button type="button" class="upload-btn">
          <mat-icon>upload</mat-icon>
          Choose file
        </button>
        <input
          #fileInput
          type="file"
          accept="audio/*,video/*"
          (change)="onFileSelected($event)"
          hidden
        />

        @if (form.value.file) {
          <div class="file-chip">
            <mat-icon>attach_file</mat-icon>
            <span>{{ form.value.file.name }}</span>
          </div>
        }
      </div>

      <div class="upload-picture"
           (dragover)="onImgDragOver($event)"
           (dragleave)="onImgDragLeave($event)"
           (drop)="onImgDrop($event)"
           [class.drag-over]="imgDragOver"
           (click)="pictureInput.click()">

        @if (thumbnailPreview) {
          <img [src]="thumbnailPreview" alt="Preview" class="preview-img"/>
          <button mat-icon-button type="button" class="remove-btn" (click)="removeImg($event)">
            <mat-icon>close</mat-icon>
          </button>
        } @else {
          <div class="picture-content">
            <img mat-card-image src="./assets/images/add_image.png" alt="">
            <p>Drag image here or click to select file</p>
            <label class="upload-btn">
              <mat-icon>image</mat-icon>
              Choose Picture
            </label>

          </div>
        }
        <input
          #pictureInput
          id="pictureFile"
          type="file"
          accept="image/*"
          (change)="onThumbnailSelected($event)"
          hidden
        />
      </div>

    </div>

    <div class="song-info">
      <h3>Song Information</h3>
      <mat-form-field appearance="outline">
        <mat-label>Song title</mat-label>
        <input matInput placeholder="Enter song title" formControlName="title">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Artist</mat-label>
        <input matInput placeholder="Enter artist name" formControlName="artist">
      </mat-form-field>

      <div class="upload-lyrics">
        <mat-tab-group>
          <mat-tab label="Enter Lyrics">
            <div class="lyrics-tab">
              <mat-form-field class="full-width no-border">
              <textarea
                matInput
                rows="8"
                placeholder="Type song lyrics here..."
                formControlName="lyrics"
              ></textarea>
              </mat-form-field>
            </div>
          </mat-tab>

          <mat-tab label="Upload File">
            <div class="upload-tab">
              <div class="lyrics-upload"
                   (dragover)="onLyricsDragOver($event)"
                   (dragleave)="onLyricsDragLeave($event)"
                   (drop)="onLyricsDrop($event)"
                   [class.drag-over]="lyricsDragOver"
                   (click)="lyricsFileInput.click()">
                <p>
                  Drag & drop files or click to select<br/>
                </p>
                <input
                  #lyricsFileInput
                  type="file"
                  id="lyricsFile"
                  (change)="onLyricsFileSelected($event)" hidden/>
                <label class="upload-btn">Choose File</label>

                @if (form.value.lyricsFile) {
                  <div class="file-chip">
                    <mat-icon>attach_file</mat-icon>
                    <span>{{ form.value.lyricsFile.name }}</span>
                    <button mat-icon-button type="button" (click)="removeLyricsFile($event)">
                      <mat-icon>close</mat-icon>
                    </button>
                  </div>
                }
              </div>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
      <mat-form-field appearance="outline">
        <mat-label>Category</mat-label>
        <mat-select formControlName="categoryId" style="color: white">
          @for (category of categories$ | async; track $index) {
            <mat-option [value]="category.id">
              {{ category.name }}
            </mat-option>
          }
        </mat-select>
      </mat-form-field>

      <div class="upload-submit">
        <button mat-flat-button (click)="submit()">Upload</button>
      </div>
    </div>
  </form>
