.album-card{
  width: 200px;
  height: 300px;
  color: var(--mat-sys-on-primary);
  padding: 12px;
  border-radius: 12px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  box-sizing: border-box;
  .album-card-image{
    width: 100%;
    img{
      border-radius: 8px;
      max-width: 100%;
      height: auto;
      object-fit: contain;
    }
  }
  .album-card-detail{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    box-sizing: border-box;
    .album-card-song-name{
      width: 100%;
      font-size: 14px;
      margin: 12px 0;
      line-clamp: 2;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      display: -webkit-box;
      overflow: hidden;
      p{
        font-size: 16px;
        margin: 0;
        line-height: 1.5;
      }
    }
    .album-card-debut-date{
      font-size: 14px;
      color: var(--mat-sys-on-surface);
      margin: 12px 0;
      p{
        font-size: 16px;
        margin: 0;
      }
    }
  }
}

.album-card:hover {
  background-color: var(--mat-sys-surface-container-highest);
}

.album-card-song-name p:hover{
  text-decoration: underline;
}
