<div class="background">
  <div class="profile">
    <img [src]="currentUser.photoURL" alt="User Avatar" />
  </div>
  <div class="right">
    <div class="name">
      <h3>{{currentUser.displayName}}</h3>
      <p>{{currentUser.email}}</p>
      <p>100 Followers</p>
      <button mat-flat-button>Follow</button>
    </div>
    <div class="information">

    </div>
  </div>
</div>

<mat-tab-group>
  <mat-tab label="Uploaded">
    @for (track of uploadedTracks; track $index) {
      <app-music-tab [track]="track"></app-music-tab>
    }
  </mat-tab>

  <mat-tab label="Your Playlist">
    <div class="horizontal-scroll">
    @for (playlist of playlist; track playlist.id) {
      <div class="card" (click)="navigateToPlaylistDetail(playlist.id)">
        <img [src]="playlist.thumbnailPath"
             [alt]="playlist.title"
             width="100"
             height="96" />
        <p class="label">{{ playlist.title }}</p>
        <p class="tracks">{{ playlist.tracks?.length || 0 }} tracks</p>
      </div>
    }
    </div>
  </mat-tab>


  <mat-tab label="Favourite">
    <mat-list role="list">
      <mat-list-item role="listitem">
        <mat-list role="list">
          <mat-list-item role="listitem">
            <mat-selection-list #shoes>
              <mat-list-option>
                <div class="song-info">
                  <img class="song-cover"
                       src="https://storage.googleapis.com/a1aa/image/97a157ab-946c-4f1a-40ac-64a6ed348cd0.jpg"
                       alt="Song cover art for Name music 1"
                  />
                </div>
                <div class="song-text">
                  <div class="song-title">Name music 1</div>
                  <div class="song-artist">Saint Tame MP</div>
                </div>
                <div class="song-date">Aug 16, 25</div>
                <div class="song-duration">3:20</div>
                <div class="song-actions">
                </div>
              </mat-list-option>
            </mat-selection-list>
          </mat-list-item>
        </mat-list>
      </mat-list-item>
    </mat-list>
    <mat-list role="list">
      <mat-list-item role="listitem">
        <mat-list role="list">
          <mat-list-item role="listitem">
            <mat-selection-list #shoes>
              <mat-list-option>
                <div class="song-info">
                  <img class="song-cover"
                       src="https://storage.googleapis.com/a1aa/image/97a157ab-946c-4f1a-40ac-64a6ed348cd0.jpg"
                       alt="Song cover art for Name music 1"
                  />
                </div>
                <div class="song-text">
                  <div class="song-title">Name music 1</div>
                  <div class="song-artist">Saint Tame MP</div>
                </div>
                <div class="song-date">Aug 16, 25</div>
                <div class="song-duration">3:20</div>
                <div class="song-actions">
                </div>
              </mat-list-option>
            </mat-selection-list>
          </mat-list-item>
        </mat-list>
      </mat-list-item>
    </mat-list>
    <mat-list role="list">
      <mat-list-item role="listitem">
        <mat-list role="list">
          <mat-list-item role="listitem">
            <mat-selection-list #shoes>
              <mat-list-option>
                <div class="song-info">
                  <img class="song-cover"
                       src="https://storage.googleapis.com/a1aa/image/97a157ab-946c-4f1a-40ac-64a6ed348cd0.jpg"
                       alt="Song cover art for Name music 1"
                  />
                </div>
                <div class="song-text">
                  <div class="song-title">Name music 1</div>
                  <div class="song-artist">Saint Tame MP</div>
                </div>
                <div class="song-date">Aug 16, 25</div>
                <div class="song-duration">3:20</div>
                <div class="song-actions">
                </div>
              </mat-list-option>
            </mat-selection-list>
          </mat-list-item>
        </mat-list>
      </mat-list-item>
    </mat-list>
    <mat-list role="list">
      <mat-list-item role="listitem">
        <mat-list role="list">
          <mat-list-item role="listitem">
            <mat-selection-list #shoes>
              <mat-list-option>
                <div class="song-info">
                  <img class="song-cover"
                       src="https://storage.googleapis.com/a1aa/image/97a157ab-946c-4f1a-40ac-64a6ed348cd0.jpg"
                       alt="Song cover art for Name music 1"
                  />
                </div>
                <div class="song-text">
                  <div class="song-title">Name music 1</div>
                  <div class="song-artist">Saint Tame MP</div>
                </div>
                <div class="song-date">Aug 16, 25</div>
                <div class="song-duration">3:20</div>
                <div class="song-actions">
                </div>
              </mat-list-option>
            </mat-selection-list>
          </mat-list-item>
        </mat-list>
      </mat-list-item>
    </mat-list>
  </mat-tab>
</mat-tab-group>
