<div class="background">
  <div class="profile">
    <img class nona1
         src="https://imgs.search.brave.com/XEp6p4OwoRAySBzTPLPGiem0V-p3gXU7JUC9XDIbBww/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9tZWRp/YS50ZW5vci5jb20v/dWF2SHZwTXdXU0VB/QUFBTS9jYXQtY2F0/LW1lbWUuZ2lm.gif"
         alt="avatar">
  </div>
  <div class="right">
    <div class="name">
      <h3>Zuzzy cat</h3>
      <p>Profile song meow meow</p>
      <button mat-flat-button>Follow</button>
    </div>
    <div class="information">

    </div>
  </div>
</div>

<mat-tab-group>
  <mat-tab label="Uploaded">
    @for (track of uploadedTracks; track $index) {
      <app-music-tab [track]="track"></app-music-tab>
    }
  </mat-tab>

  <mat-tab label="Your Playlist">
    <div class="horizontal-scroll">
    @for (playlist of playlist; track playlist.id) {
      <div class="card" (click)="navigateToPlaylistDetail(playlist.id)">
        <img [src]="playlist.thumbnailPath"
             [alt]="playlist.title"
             width="100"
             height="96" />
        <p class="label">{{ playlist.title }}</p>
        <p class="tracks">{{ playlist.tracks?.length || 0 }} tracks</p>
      </div>
    }
    </div>
  </mat-tab>


  <mat-tab label="Favourite">
    @if (favoriteTracks$ | async; as favs) {
      @if (favs.length > 0) {
        <mat-list>
          @for (track of favs; track track.id) {
            <mat-list-item>
              <img
                [src]="track.thumbnailPath || 'assets/default-cover.png'"
                alt="{{ track.title }}"
                width="48"
                height="48"
                class="song-cover"
              />
              <div class="track-info">
                <span class="track-title">{{ track.title }}</span>
                <span class="track-artist">{{ track.artistName }}</span>
              </div>
            </mat-list-item>
          }
        </mat-list>
      } @else {
        <p class="empty">No favourite tracks yet 🐾</p>
      }
    }
  </mat-tab>

</mat-tab-group>
