<!--@if (isViewingOwnProfile) {-->
<!--  <div class="background" [ngStyle]="{'background-image': 'url(' + (currentUser.photoUrl) + '))'}">-->
<!--    @if (currentUser$ | async; as currentUser) {-->
<!--      <div class="profile">-->
<!--        <img [src]="currentUser.photoUrl" alt="User Avatar" />-->
<!--      </div>-->
<!--      <div class="right">-->
<!--        <div class="name">-->
<!--          <h3>{{currentUser.name}}</h3>-->
<!--          <p>{{currentUser.email}}</p>-->
<!--          <p>{{followers.length}} Followers</p>-->
<!--&lt;!&ndash;          <button mat-flat-button (click)="followProfile()">Follow</button>&ndash;&gt;-->
<!--        </div>-->
<!--      </div>-->
<!--    }-->
<!--  </div>-->
<!--} @else {-->
<!--  <div class="background" [ngStyle]="{'background-image': 'url(' + (viewedProfile.photoUrl) + '))'}">-->
<!--    @if (viewedProfile$ | async; as viewedUser) {-->
<!--      <div class="profile">-->
<!--        <img [src]="viewedUser.photoUrl" alt="User Avatar" />-->
<!--      </div>-->
<!--      <div class="right">-->
<!--        <div class="name">-->
<!--          <h3>{{viewedUser.name}}</h3>-->
<!--          <p>{{viewedUser.email}}</p>-->
<!--          <p>{{followers.length}} Followers</p>-->
<!--          <button mat-flat-button (click)="followProfile()">Follow</button>-->
<!--        </div>-->
<!--      </div>-->
<!--    }-->
<!--  </div>-->
<!--}-->

@if (viewedProfile$ | async; as viewedProfile) {
  <div class="background" [ngStyle]="{'background-image': 'url(' + (viewedProfile.photoUrl) + '))'}">
      <div class="profile">
        <img [src]="viewedProfile.photoUrl" alt="User Avatar" />
      </div>
      <div class="right">

          <div class="name">
            <h3>{{viewedProfile.name}}</h3>
            <p>{{viewedProfile.email}}</p>
            @if ( followers && followers.length > 0) {

            <p>{{followers.length}} Followers</p>
            } @else {
              <p>0 Followers</p>
            }

            @if (currentUser$ | async; as profile) {

              @if( profile.id && this.viewedProfile.id && profile.id !== this.viewedProfile.id){
                <button mat-flat-button (click)="followProfile()">Follow</button>
              }
            }

          </div>

      </div>
  </div>
}

<mat-tab-group>
  <mat-tab label="Uploaded">
    @for (track of uploadedTracks; track $index) {
      <app-music-tab [track]="track"></app-music-tab>
    }
  </mat-tab>

  <mat-tab label="Your Playlist">
    <div class="horizontal-scroll">
    @for (playlist of playlists; track $index) {
      <div class="card" (click)="navigateToPlaylistDetail(playlist.id)">
        <img [src]="playlist.thumbnailPath"
             [alt]="playlist.title"
             width="100"
             height="96" />
        <div class="overlay">
        </div>
        <p class="label">{{ playlist.title }}</p>
        <p class="tracks">{{ getTrackCount(playlist.id) }} tracks</p>
      </div>
    }
    </div>
  </mat-tab>


  <mat-tab label="Favourite">
    @if (favoritePlaylist$ | async; as favPlaylist) {
      @if (favPlaylist.tracks && favPlaylist.tracks.length > 0) {
        <mat-list>
          @for (track of favPlaylist.tracks; track track.id) {
            <app-music-tab [track]="track"></app-music-tab>
          }
        </mat-list>
      } @else {
        <p class="empty">No favourite tracks yet 🐾</p>
      }
    } @else {
      <p class="empty">Loading favorite tracks...</p>
    }
  </mat-tab>

  <mat-tab label="History">
    @if (historyTracks$ | async; as history) {
      @if (history.length > 0) {
        @for (item of history; track item.id) {
          <app-music-tab [track]="item.track"></app-music-tab>
        }
      } @else {
        <p class="empty">No history tracks yet 🐾</p>
      }
    }
  </mat-tab>

</mat-tab-group>
