.container{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 304px;
  height: 48px;
  padding: 8px;
  border-radius: 6px;
  .container-left{
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    img{
      border-radius: 4px;
      width: 48px;
      height: 48px;
      object-fit: contain;
    }
  }
  .container-right{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap:4px;
    p{
      line-clamp: 1;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      display: -webkit-box;
      overflow: hidden;
      margin: 0;
    }
    .author{
      color: var(--mat-sys-on-surface);
      font-size: 14px;
    }
  }
  .delete-option{
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
  }
}

.container:hover{
  background-color: var(--mat-sys-surface-container-high);
}
