<div class="container">
  @if (category$ | async; as category) {
    <div class="music-header">
      <h1>{{ category.title }}</h1>
    </div>
    <div class="music-display">
      <div class="title">
        <h2>Tracks</h2>
      </div>
      <div class="list-of-music">
        @for (track of category.tracks ?? []; track track.id) {
          <div class="track-card">
            <img [src]="track.thumbnailPath" [alt]="track.title" />
            <h3>{{ track.title }}</h3>
            <p>{{ track.artistName }}</p>
            <p>{{ track.duration }}s</p>
            <p>Views: {{ track.viewCount }}</p>
          </div>
        }
      </div>
    </div>
  }
</div>
