<div class="container">
  <div class="overview-left">
    <div class="overview-left-middle">
      <h2>More by <span>author</span></h2>
      <p>Discovery all</p>
    </div>
    <div class="overview-left-bot">
      @for (item of tracksSameArtist;track $index){
          <app-album-card [track]="item"></app-album-card>
      }
    </div>
  </div>
  <div class="overview-right">
    <div class="statistics">
      <h2>Statistics</h2>
      <div class="statistics-tabs">
        <div class="statistics-tabs-left">
          <mat-icon>publish</mat-icon>
          <p>Release Date</p>
        </div>
        <div class="statistics-tabs-right">
          <p>{{trackDetail.createdAt | date:'dd/MM/yyyy'}}</p>
        </div>
      </div>
      <div class="statistics-tabs">
        <div class="statistics-tabs-left">
          <mat-icon>visibility</mat-icon>
          <p>Views</p>
        </div>
        <div class="statistics-tabs-right">
          <p>{{trackDetail.viewCount}}</p>
        </div>
      </div>
      <div class="statistics-tabs">
        <div class="statistics-tabs-left">
          <mat-icon>schedule</mat-icon>
          <p>Duration</p>
        </div>
        <div class="statistics-tabs-right">
          <p>{{trackDetail.duration | duration}}</p>
        </div>
      </div>
      <div class="statistics-tabs">
        <div class="statistics-tabs-left">
          <mat-icon>comment</mat-icon>
          <p>Comments</p>
        </div>
        <div class="statistics-tabs-right">
          <p>{{totalComment}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
