.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  overflow: hidden;

  .overview-left {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    span {
      color: var(--mat-sys-primary);
    }

    .overview-left-middle {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      p {
        margin: 0;
        font-size: 16px;
        color: var(--mat-sys-on-surface);
      }
    }

    .overview-left-bot {
      width: 100%;
      display: flex;
      flex-direction: row;
      gap: 10px;
      overflow-x: auto;
      scroll-behavior: smooth;
      overflow-y: hidden;

      p {
        margin: 0;
        font-size: 16px;
        color: var(--mat-sys-on-surface);
      }
    }

    .overview-left-bot::-webkit-scrollbar {
      display: none;
    }
  }

  .overview-right {
    width: 30%;
    display: flex;
    flex-direction: row;
    //justify-content: center;
    align-items: center;
    margin-top: 20px;

    .statistics {
      width: 80%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      border: 1px solid var(--mat-sys-outline-variant);
      padding: 0 16px 16px 16px;
      box-sizing: border-box;
      border-radius: 16px;

      .statistics-tabs {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .statistics-tabs-left {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          gap: 8px;

          p {
            margin: 0;
            font-size: 16px;
            color: var(--mat-sys-on-surface);
          }
        }
      }
    }
  }

  //@media (max-width: 1228px){
  //  .overview-left{
  //    width: 100%;
  //  }
  //  .overview-right{
  //    display: none;
  //  }
  //}
  //
  //@media (max-width: 425px){
  //  .overview-left-top, .overview-left-middle{
  //    h2{
  //      font-size: 20px !important;
  //    }
  //    p{
  //      font-size: 14px !important;
  //    }
  //  }
  //}
  //
  //@media (max-width: 375px){
  //  .overview-left-top, .overview-left-middle{
  //    h2{
  //      font-size: 16px !important;
  //    }
  //  }
  //}

}

@media(max-width: 1400px) {
  .container {
    display: flex !important;
    flex-direction: column-reverse !important;

    .overview-left {
      width: 100% !important;
    }

    .overview-right {
      justify-content: flex-start;
      align-items: center;
    }
  }
}
