<div class="container">
  <div class="overview-left">
    <div class="overview-left-top">
      <h2>About this song</h2>
      <p>A synthpop and electropop song that features 1980s-style synthesizers and drums.</p>
    </div>
    <div class="overview-left-middle">
      <h2>More by author</h2>
      <p>Discovery all</p>
    </div>
    <div class="overview-left-bot">
      @for (item of [1,2,3,4,5,6,7,8,9,10];track $index){
        <app-album-card></app-album-card>
      }
    </div>
  </div>
  <div class="overview-right">
    <div class="statistics">
      <h2>Statistics</h2>
      <div class="statistics-tabs">
        <div class="statistics-tabs-left">
          <mat-icon>play_arrow</mat-icon>
          <p>Plays</p>
        </div>
        <div class="statistics-tabs-right">
          <p>2</p>
        </div>
      </div>
      <div class="statistics-tabs">
        <div class="statistics-tabs-left">
          <mat-icon>thumb_up</mat-icon>
          <p>Likes</p>
        </div>
        <div class="statistics-tabs-right">
          <p>2</p>
        </div>
      </div>
      <div class="statistics-tabs">
        <div class="statistics-tabs-left">
          <mat-icon>chat</mat-icon>
          <p>Comments</p>
        </div>
        <div class="statistics-tabs-right">
          <p>2</p>
        </div>
      </div>
      <div class="statistics-tabs">
        <div class="statistics-tabs-left">
          <mat-icon>share</mat-icon>
          <p>Shares</p>
        </div>
        <div class="statistics-tabs-right">
          <p>4</p>
        </div>
      </div>
    </div>
  </div>
</div>
