<div class="container">
    <button id="play-button" mat-fab aria-label="Example icon button with a delete icon">
      <mat-icon>play_arrow</mat-icon>
    </button>
    <button class="buttons" mat-fab aria-label="Example icon button with a delete icon">
      <mat-icon fontSet="material-icons-outlined">thumb_up</mat-icon>
    </button>
    <button class="buttons" mat-fab aria-label="Example icon button with a delete icon">
      <mat-icon fontSet="material-icons-outlined">download_2</mat-icon>
    </button>
    <button class="buttons" mat-fab aria-label="Example icon button with a delete icon">
      <mat-icon fontSet="material-icons-outlined">add_box</mat-icon>
    </button>
    <button class="buttons" mat-fab aria-label="Example icon button with a delete icon">
      <mat-icon >playlist_add</mat-icon>
    </button>
    <button class="buttons" mat-fab aria-label="Example icon button with a delete icon">
      <mat-icon >ios_share</mat-icon>
    </button>
    <button class="buttons" mat-fab aria-label="Example icon button with a delete icon">
      <mat-icon >more_vert</mat-icon>
    </button>
</div>
