<div class="container">
    <button id="play-button" mat-fab aria-label="Example icon button with a delete icon" (click)="onPlayTrack(trackDetail)">
      <mat-icon>
        {{ (isPlaying$ | async) ? 'pause' : 'play_arrow' }}
      </mat-icon>
    </button>
    <button class="buttons" mat-fab aria-label="Example icon button with a delete icon">
      <mat-icon fontSet="material-icons-outlined">favorite_outline</mat-icon>
    </button>
    <button class="buttons" mat-fab aria-label="Example icon button with a delete icon">
      <mat-icon fontSet="material-icons-outlined">download</mat-icon>
    </button>
  <button class="buttons" mat-fab [matMenuTriggerFor]="addToPlaylistMenu" (click)="onOpenAddToPlaylist()">
    <mat-icon fontSet="material-icons-outlined">add_box</mat-icon>
  </button>

  <mat-menu #addToPlaylistMenu="matMenu">
    @if (playlists$ | async; as playlists) {
      @for (playlist of playlists; track playlist.id) {
        <button mat-menu-item (click)="onAddTrackToPlaylist(playlist.id)">
          {{ playlist.title }}
        </button>
      }
    } @else {
      <button mat-menu-item disabled>No playlists found</button>
    }
  </mat-menu>
    <button class="buttons" mat-fab aria-label="Example icon button with a delete icon" (click)="addTrackToQueue()">
      <mat-icon >playlist_add</mat-icon>
    </button>
    <button class="buttons" mat-fab aria-label="Example icon button with a delete icon">
      <mat-icon >ios_share</mat-icon>
    </button>
    <button class="buttons" mat-fab aria-label="Example icon button with a delete icon" (click)="removeTrack()">
      <mat-icon>delete</mat-icon>
    </button>
</div>
