<div class="container">
    <button id="play-button" mat-fab aria-label="Example icon button with a delete icon" (click)="onPlayTrack(trackDetail)">
      <mat-icon>play_arrow</mat-icon>
    </button>
    <button class="buttons" mat-fab aria-label="Example icon button with a delete icon">
      <mat-icon fontSet="material-icons-outlined">favorite_outline</mat-icon>
    </button>
    <button class="buttons" mat-fab aria-label="Example icon button with a delete icon">
      <mat-icon fontSet="material-icons-outlined">download</mat-icon>
    </button>
    <button class="buttons" mat-fab aria-label="Example icon button with a delete icon">
      <mat-icon fontSet="material-icons-outlined">add_box</mat-icon>
    </button>
    <button class="buttons" mat-fab aria-label="Example icon button with a delete icon" (click)="addTrackToQueue()">
      <mat-icon >playlist_add</mat-icon>
    </button>
    <button class="buttons" mat-fab aria-label="Example icon button with a delete icon">
      <mat-icon >ios_share</mat-icon>
    </button>
    <button class="buttons" mat-fab aria-label="Example icon button with a delete icon" (click)="removeTrack()">
      <mat-icon>delete</mat-icon>
    </button>
</div>
