.playlist-table-header,
.song-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  padding: 10px 30px;
}

.search-tabs h2{
  color: #EE10B0;
}

.playlist-table-header {
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
  color: #e0e0e0;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  padding-left: 77px;
}

/* Song row */
.song-info:hover {
  background: #3c002a;
  border-radius: 8px;
}

/* ảnh + tên */
.song-title {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 300px; /* fixed width for title */
  min-width: 0;
}

.song-title span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.song-title img {
  width: 40px;
  height: 40px;
  border-radius: 4px;
  object-fit: cover;
}

.song-artist {
  width: 120px;
  font-size: 14px;
  color: #b3b3b3;
  text-align: center;
  margin: 0 auto;
  overflow: hidden;
  text-overflow: ellipsis;
}

.song-duration {
  width: 60px; /* fixed width for duration */
  font-size: 14px;
  color: #b3b3b3;
  text-align: right;
  margin-left: auto;
}

.search-playlist{
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 250px));
  overflow-y: hidden;

}

.card {
  position: relative;
  width: 250px;
  cursor: pointer;
  overflow: hidden;
  border-radius: 12px;
}

.card img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 12px;
  display: block;
}



.search-profile {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  gap: 24px;
  padding: 20px;
  overflow-y: hidden;
}

.artist {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: transform 0.2s ease;
  color: #fff;
}

.artist:hover {
  transform: scale(1.05);
}

.artist img {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  object-fit: cover;
}

.artist-name {
  margin-top: 12px;
  font-size: 15px;
  font-weight: 600;
}

.artist-sub {
  font-size: 13px;
  color: #b3b3b3;
}

.category-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  padding: 10px;
  overflow-y: hidden;
}

@media (max-width: 1200px) {
  .category-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 900px) {
  .category-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .category-container {
    grid-template-columns: 1fr;
  }
}

.category-card {
  position: relative;
  height: 90px;
  border-radius: 16px;
  color: #fff;
  cursor: pointer;
  overflow: hidden;
  transition: transform 0.2s ease-in-out;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 16px;

  &:hover {
    transform: scale(1.05);
  }

  

  h3 {
    font-size: 18px;
    font-weight: bold;
    z-index: 4;
    align-self: flex-start;
    margin-top: 0;
    position: relative;
    top: -2px;
  }

  img {
    position: absolute;
    right: -11px;
    bottom: -8px;
    width: 100px;
    height: 100px;
    transform: rotate(25deg) scale(1.1);
    border-radius: 4px;
    object-fit: cover;
    z-index: 1;
    opacity: 0.7;
  }
}

@media (max-width: 375px) {
  .col-artist,.song-artist {
    display: none !important;
  }

  .playlist-table-header {
    font-size: 13px;
    padding-left: 12px;
  }

  .song-title {
    flex: 1;
    font-size: 14px;
  }

  .song-duration {
    margin-left: auto;
    font-size: 13px;
  }
}

.search-pages {
  height: calc(100vh - 170px); /* full màn hình */
  display: flex;
  flex-direction: column;
  overflow: hidden;
}


.search-tabs {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 0; /* quan trọng để con flex có thể co lại */
}

/* Thanh tab luôn cố định trên cùng */
.search-tabs .mat-mdc-tab-header {
  position: sticky;
  top: 0;
  z-index: 10;
  background: #121212;
}

/* Vùng nội dung tab scroll riêng */
.tab-content {
  height: 100%;
  overflow-y: auto;
  padding-bottom: 40px; /* tránh dính sát cuối */
}


::ng-deep .mat-mdc-tab-body-content {
  height: 100vh !important;
}
