.playlist-table-header,
.song-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  padding: 10px 30px;
}

.search-tabs h2 {
  color: #EE10B0;
}


/* Song row */
.song-info:hover {
  background: #3c002a;
  border-radius: 8px;
}

/* ảnh + tên */
.song-title {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 300px; /* fixed width for title */
  min-width: 0;
}

.song-title span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.song-title img {
  width: 40px;
  height: 40px;
  border-radius: 4px;
  object-fit: cover;
}

.song-artist {
  width: 120px;
  font-size: 14px;
  color: #b3b3b3;
  text-align: center;
  margin: 0 auto;
  overflow: hidden;
  text-overflow: ellipsis;
}

.song-duration {
  width: 60px; /* fixed width for duration */
  font-size: 14px;
  color: #b3b3b3;
  text-align: right;
  margin-left: auto;
}

.search-playlist {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 200px));
  overflow-y: hidden;

}

//.card {
//  position: relative;
//  border-radius: 16px;
//  flex-shrink: 0;
//  display: flex;
//  flex-direction: column;
//  align-items: center;
//  padding: 8px;
//  cursor: pointer;
//  overflow: hidden;
//  transition: transform 0.3s ease, box-shadow 0.3s ease;
//}
//
//.card img {
//  width: 250px;
//  height: 250px;
//  object-fit: cover;
//  border-radius: 12px;
//  display: block;
//}
//


.search-profile {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  gap: 24px;
  padding: 20px;
  overflow-y: hidden;
}

.artist {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: transform 0.2s ease;
  color: #fff;
}

.artist:hover {
  transform: scale(1.05);
}

.artist img {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  object-fit: cover;
}

.artist-name {
  margin-top: 12px;
  font-size: 15px;
  font-weight: 600;
}

.artist-sub {
  font-size: 13px;
  color: #b3b3b3;
}

.category-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  padding: 10px;
  overflow-y: hidden;
}

@media (max-width: 1200px) {
  .category-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 900px) {
  .category-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .category-container {
    grid-template-columns: 1fr;
  }
}

.category-card {
  position: relative;
  height: 90px;
  border-radius: 16px;
  color: #fff;
  cursor: pointer;
  overflow: hidden;
  transition: transform 0.2s ease-in-out;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 16px;

  &:hover {
    transform: scale(1.05);
  }


  h3 {
    font-size: 18px;
    font-weight: bold;
    z-index: 4;
    align-self: flex-start;
    margin-top: 0;
    position: relative;
    top: -2px;
  }

  img {
    position: absolute;
    right: -11px;
    bottom: -8px;
    width: 100px;
    height: 100px;
    transform: rotate(25deg) scale(1.1);
    border-radius: 4px;
    object-fit: cover;
    z-index: 1;
    opacity: 0.7;
  }
}

@media (max-width: 375px) {
  .col-artist, .song-artist {
    display: none !important;
  }

  .playlist-table-header {
    font-size: 13px;
    padding-left: 12px;
  }

  .song-title {
    flex: 1;
    font-size: 14px;
  }

  .song-duration {
    margin-left: auto;
    font-size: 13px;
  }
}

.search-pages {
  height: calc(100vh - 170px); /* full màn hình */
  display: flex;
  flex-direction: column;
  overflow: hidden;
}


.search-tabs {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 0; /* quan trọng để con flex có thể co lại */
}

/* Thanh tab luôn cố định trên cùng */
.search-tabs .mat-mdc-tab-header {
  position: sticky;
  top: 0;
  z-index: 10;
  background: #121212;
}

/* Vùng nội dung tab scroll riêng */
.tab-content {
  height: 100%;
  overflow-y: auto;
  padding-bottom: 40px; /* tránh dính sát cuối */
  margin-top: 8px;
}


::ng-deep .mat-mdc-tab-body-content {
  height: 100vh !important;
}


.playlist-table-header {
  display: grid;
  grid-template-columns:2fr 1fr 1fr 1fr 1fr; /* 6 cột bằng nhau */
  align-items: center;
  padding: 10px 20px;
  //border-top: 1px solid #666;
  border-bottom: 1px solid var(--mat-sys-outline-variant);
  color: #e0e0e0;
  font-size: 16px;
  text-align: center;
  gap: 0;
  margin-bottom: 8px;
}

.col-name {
  display: flex;
  align-items: center;
  font-size: 19px;
  max-width: 100px;
}

.col-artist {
  display: flex;
  align-items: center;
  font-size: 19px;
}

.col-time {
  display: flex;
  justify-content: center;
  align-items: center;
}

.col-actions {
  display: flex;
  justify-content: center;
  align-items: center;
}

.col-list {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 19px;
}

.playlist-table-header mat-icon {
  font-size: 28px;
  width: 28px;
  height: 28px;
  color: #d8a9b0;
}

//.playlist-table-header mat-icon:hover {
//  color: #ee10b0;
//}


.search-playlist .card {
  position: relative;
  border-radius: 16px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px;
  cursor: pointer;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.search-playlist .card:hover {
  transform: scale(1.05);
}

.search-playlist .card img {
  width: 200px;
  height: 200px;
  border-radius: 16px;
  object-fit: cover;
  margin-bottom: 8px;
  transition: filter 0.4s ease;
}

.search-playlist .card:hover img {
  filter: brightness(1.2);
}

.search-playlist .card .label {
  font-size: 16px;
  color: #ffffff;
  margin: 0;
  transition: color 0.3s ease;
}

.search-playlist .card:hover .label {
  color: var(--mat-sys-primary);
}


.no-data {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  min-height: 200px; // chiều cao tối thiểu để căn giữa
  font-size: 1.1rem;
  font-weight: 500;
  color: #888; // màu xám nhạt
  font-style: italic;
  letter-spacing: 0.5px;
}


