<div class="search-pages">
  <mat-tab-group class="search-tabs">
    <!-- ALL TAB -->


    <!-- Songs TAB -->
    <mat-tab label="Songs">
      <div class="tab-content">
        <div class="playlist-table-header">
          <span class="col-name"># Name</span>
          <span class="col-artist"># Artist</span>
          <span class="col-time"><mat-icon>schedule</mat-icon></span>
        </div>
        @for (track of tracks$ | async; track $index) {
          <div class="song-info" (click)="onPlayTrack(track)">
            <div class="song-title">
              <img
                [src]="track.thumbnailPath | imgConverter"
                [alt]="'Song cover art for ' + track.title"
              />
              <span>{{ track.title }}</span>
            </div>
            <div class="song-artist">{{ track.artistName}}</div>
            <div class="song-duration">{{ track.duration }}</div>
          </div>
        }
      </div>
    </mat-tab>

    <!-- Genres TAB -->
    <mat-tab label="Genres">
      <div class="tab-content">
        <app-category></app-category>
      </div>
    </mat-tab>

    <!-- Playlist TAB -->
    <mat-tab label="Playlist">
      <div class="tab-content">
        <div class="search-playlist">
          @for (playlist of playlists$ | async; track $index) {
            <div class="card" (click)="navigateToPlaylistDetail(playlist.id)">
              <img
                [src]="playlist.thumbnailPath"
                [alt]="'Song cover art for ' + playlist.title"
              />
              <div class="play-btn">
                <mat-icon>play_arrow</mat-icon>
              </div>
              <p class="label">{{ playlist.title}}</p>
<!--              <p class="tracks">{{ playlist.trackCount }} tracks</p>-->
            </div>
          }
        </div>
      </div>
    </mat-tab>

    <!-- Profile TAB -->
    <mat-tab label="Profile">
      <div class="tab-content">
        <div class="search-profile">
          @for (profile of profiles$ | async; track $index) {
            <div class="artist" (click)="navigateToProfile(profile.id)">
              <img [src]="profile.photoUrl" alt="{{ profile.name }}"/>
              <p class="artist-name">{{ profile.name }}</p>
              <p class="artist-role">Profile</p>
            </div>
          }
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
