
<div class="playlist-detail-container" >
  @if (getPlaylistById$ | async; as playlist) {
    <div class="playlist-header">
      <div class="playlist-bg">
        <img [src]="playlist.thumbnailPath" alt="background"/>
      </div>

      <div class="playlist-info">
        <img class="playlist-cover" [src]="playlist.thumbnailPath" alt="Playlist Cover"/>

        <div class="playlist-text">
          <div class="name-and-time">
            <h2 class="playlist-title">
              {{ playlist.title }}
              <button mat-icon-button (click)="openEditDialog()">
                <mat-icon>edit</mat-icon>
              </button>
            </h2>

            <p class="playlist-meta">
              {{ playlist.title || 0 }} songs •
              {{ playlist.profile || '0:00' }}
            </p>
          </div>

          <div class="playlist-actions">
            <app-playlist-detail-button [playlistId]="playlist.id"></app-playlist-detail-button>
          </div>
        </div>
      </div>
    </div>

    <div class="playlist-table-header">
      <span class="col-name"># Name</span>
      <span class="col-artist"># Date</span>
      <span class="col-time"><mat-icon>schedule</mat-icon></span>
      <span class="col-views"><mat-icon>visibility</mat-icon></span>
      <span class="col-actions">
        <mat-icon>delete</mat-icon>
        <mat-checkbox></mat-checkbox>
      </span>
      <span class="col-list">
        <span>#List</span><mat-icon>list</mat-icon>
      </span>
    </div>

    <div class="playlist-table-body">
      @for (track of playlist.tracks ?? []; track track.id; let i = $index) {
        <app-playlist-music-tab [track]="track"></app-playlist-music-tab>
      }
    </div>
  }
</div>
