.playlist-header {
  position: relative;
  height: 320px;
  border-radius: 12px;
  overflow: hidden;
  margin-bottom: 8px;
}

.playlist-bg {
  position: absolute;
  inset: 0;
  z-index: 1;
}

.playlist-bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(30%);
}

.playlist-info {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: flex-start;
  padding: 20px;
  gap: 20px;
  color: white;
}

.playlist-cover {
  width: 290px;
  height: 280px;
  border-radius: 8px;
  object-fit: cover;
}

.right {
  display: flex;
  flex-direction: column;
  padding: 8px 12px;
}

//.playlist-text {
//  display: flex;
//  flex-direction: column;
//  gap: 10px;
//  padding-left: 30px;
//}

.name-and-time p {
  font-size: 18px;
}

.playlist-title {
  font-size: 28px;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 8px;
}

.playlist-title button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.playlist-title button:hover mat-icon {
  color: #ff4081;
}

.playlist-meta {
  font-size: 14px;
  opacity: 0.8;
}

.playlist-actions {
  display: flex;
  align-items: center;
  gap: 25px;
  margin-top: 70px;
  flex-wrap: nowrap;
}

.playlist-actions button {
  width: 70px;
  height: 70px;
  border-radius: 50% !important;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
}

.playlist-actions button.play-btn {
  background: #d4008f;
  color: white;
  flex-shrink: 1;
  width: clamp(40px, 8vw, 70px);
  height: clamp(40px, 8vw, 70px);
  font-size: clamp(18px, 4vw, 28px);
  border-radius: 50%;
}

.playlist-actions button.other-btn {
  color: white;
  flex-shrink: 1;
  width: clamp(30px, 6vw, 50px);
  height: clamp(30px, 6vw, 50px);
  font-size: clamp(14px, 3vw, 22px);
  border-radius: 50%;
}

/* ===== HEADER ===== */
.playlist-table-header {
  display: grid;
  grid-template-columns:2fr 1fr 1fr 1fr 1fr; /* 6 cột bằng nhau */
  align-items: center;
  padding: 10px 20px;
  //border-top: 1px solid #666;
  border-bottom: 1px solid var(--mat-sys-outline-variant);
  color: #e0e0e0;
  font-size: 16px;
  text-align: center;
  gap: 0;
  margin-bottom: 8px;
}

.col-name {
  display: flex;
  align-items: center;
  font-size: 19px;
  max-width: 100px;
}

.col-artist {
  display: flex;
  align-items: center;
  font-size: 19px;
}

.col-time {
  display: flex;
  justify-content: center;
  align-items: center;
}

.col-actions {
  display: flex;
  justify-content: center;
  align-items: center;
}

.col-list {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 19px;
}

.playlist-table-header mat-icon {
  font-size: 28px;
  width: 28px;
  height: 28px;
  color: #d8a9b0;
}

.playlist-table-header mat-icon:hover {
  color: #ee10b0;
}

/* ===== BODY ===== */
.playlist-table-body {
  display: flex;
  flex-direction: column;
}

@media (max-width: 1023px) {
  .playlist-header {
    height: auto;
    min-height: 320px;
  }

  .playlist-info {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .playlist-cover {
    width: 220px;
    height: 200px;
  }

  .right {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px 12px;
  }

  .playlist-text {
    padding-left: 0;
    align-items: center;
  }

  .playlist-table-header {
    font-size: 14px;
    gap: 10px;
    padding: 8px;
  }

  .body-artist,
  .body-time {
    font-size: 12px;
  }

  .col-time {
    padding: 0 5px 0 0;

  }

  .col-actions,
  .body-actions-delete {
    display: flex !important;
    justify-content: center;
    align-items: center;
  }


}

/* Mobile (dưới 768px) */
@media (max-width: 767px) {
  .playlist-header {
    height: auto;
  }

  .playlist-cover {
    width: 160px;
    height: 150px;
  }

  .playlist-title {
    font-size: 20px;
  }

  .playlist-meta {
    font-size: 12px;
  }

  .body-music {
    padding: 10px 0;
  }

  .playlist-actions {
    margin-top: 15px;
    gap: 10px;
  }

  .col-time, .body-time,
  .col-actions, .body-actions-delete {
    display: none !important;
  }

  col-name, .body-name {
    flex: 1;
  }


  .song-title {
    font-size: 12px;
  }

  .song-cover {
    width: 32px;
    height: 32px;
  }

  .playlist-table-body {
    font-size: 12px;
  }


}
