
<div class="playlist-detail-container" >
  @if (getPlaylistById$ | async; as playlist) {
    <div class="playlist-header">
      <div class="playlist-bg">
        <img [src]="playlist.thumbnailPath" alt="background"/>
      </div>

      <div class="playlist-info">
        <img class="playlist-cover" [src]="playlist.thumbnailPath" alt="Playlist Cover"/>

        <div class="playlist-text">
          <div class="name-and-time">
            <h2 class="playlist-title">
              {{ playlist.title }}
              <button mat-icon-button (click)="openEditDialog()">
                <mat-icon>edit</mat-icon>
              </button>
            </h2>

            <p class="playlist-meta">
              {{ playlist.title || 0 }} songs •
              {{ playlist.profile || '0:00' }}
            </p>
          </div>

          <div class="playlist-actions">
            <button mat-mini-fab class="play-btn">
              <mat-icon>play_arrow</mat-icon>
            </button>
            <button mat-mini-fab class="other-btn">
              <mat-icon>favorite_outline</mat-icon>
            </button>
            <button mat-mini-fab class="other-btn">
              <mat-icon fontSet="material-icons-outlined">download</mat-icon>
            </button>
            <button mat-mini-fab class="other-btn">
              <mat-icon fontSet="material-icons-outlined">add_box</mat-icon>
            </button>
            <button mat-mini-fab class="other-btn">
              <mat-icon>delete_outline</mat-icon>
            </button>
            <button mat-mini-fab class="other-btn">
              <mat-icon>ios_share</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="playlist-table-header">
      <span class="col-name"># Name</span>
      <span class="col-artist"># Artist</span>
      <span class="col-time"><mat-icon>schedule</mat-icon></span>
      <span class="col-actions">
        <mat-icon>delete</mat-icon>
        <mat-checkbox></mat-checkbox>
      </span>
      <span class="col-list">
        <span>#List</span><mat-icon>list</mat-icon>
      </span>
    </div>

    <div class="playlist-table-body">
      @for (track of playlist.tracks ?? []; track track.id; let i = $index) {
        <div class="body-music">
          <div class="image-music">
            <div class="body-index">{{ i + 1 }}</div>
            <img [src]="track.thumbnailPath" alt="cover" class="song-cover"/>
            <span class="song-title">{{ track.title }}</span>
          </div>
          <div class="body-artist">{{ track.artistName }}</div>
          <div class="body-time">{{ track.duration }}</div>
          <span class="body-actions-delete">
            <mat-icon>delete_outline</mat-icon>
            <mat-checkbox></mat-checkbox>
          </span>
          <span class="body-actions-list">
            <button mat-icon-button>
              <mat-icon>favorite_outline</mat-icon>
            </button>
            <button mat-icon-button>
              <mat-icon>more_vert</mat-icon>
            </button>
          </span>
        </div>
      }
    </div>
  }
</div>
