.playlist-detail-container {
  padding: 0 40px;
}

.playlist-header {
  position: relative;
  height: 320px;
  border-radius: 12px;
  overflow: hidden;
  margin-bottom: 20px;
}

.playlist-bg {
  position: absolute;
  inset: 0;
  z-index: 1;
}

.playlist-bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(25%);
}

.playlist-info {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: flex-start;
  padding: 20px;
  gap: 20px;
  color: white;
}

.playlist-cover {
  width: 290px;
  height: 280px;
  border-radius: 8px;
  object-fit: cover;
}

.playlist-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 30px;
}

.name-and-time p{
  font-size: 18px;
}

.playlist-title {
  font-size: 28px;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 8px;
}

.playlist-title button:hover {
  background-color: rgba(0,0,0,0.1);
}

.playlist-title button:hover mat-icon {
  color: #ff4081; /* màu icon */
}


.playlist-meta {
  font-size: 14px;
  opacity: 0.8;
}

.playlist-actions {
  display: flex;
  align-items: center;
  gap: 25px;
  margin-top: 70px;
  flex-wrap: nowrap;
}

.playlist-actions button {
  width: 70px;
  height: 70px;
  border-radius: 50% !important;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
}

.playlist-actions button.play-btn {
  background: #d4008f;
  color: white;
  flex-shrink: 1;
  width: clamp(40px, 8vw, 70px);
  height: clamp(40px, 8vw, 70px);
  font-size: clamp(18px, 4vw, 28px);
  border-radius: 50%;
}

.playlist-actions button.other-btn {
  color: white;
  flex-shrink: 1;
  width: clamp(30px, 6vw, 50px);
  height: clamp(30px, 6vw, 50px);
  font-size: clamp(14px, 3vw, 22px);
  border-radius: 50%;
}


.playlist-table-header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
  color: #e0e0e0;
  font-size: 16px;
  gap: 20px;
}

.col-name {
  flex: 2;
  display: flex;
  align-items: center;
  font-size: 19px;
}
.col-artist {
  flex: 1;
  display: flex;
  align-items: center;
  font-size: 19px;
}
.col-time {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.col-actions {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.col-list {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 19px;
}

.playlist-table-header mat-icon {
  font-size: 22px;
  color: #d8a9b0;
}
.playlist-table-header mat-icon:hover {
  color: #ee10b0;
}

.playlist-table-header mat-icon {
  font-size: 28px;
  width: 28px;
  height: 28px;
  color: #d8a9b0;
}


.playlist-table-body {
  display: flex;
  flex-direction: column;
}

.body-music{
  display: flex;
  align-items: center;
  padding: 10px 20px;
  color: #e0e0e0;
  font-size: 16px;
}


.image-music {
  flex: 2;
  display: flex;
  align-items: center;
  gap: 12px;
}

.body-artist {
  flex: 1;
  display: flex;
  align-items: center;
  font-size: 14px;
}

.body-time {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

.body-actions-delete {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.body-actions-list {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 6px;
}

.body-index {
  width: 24px;
  text-align: center;
  font-weight: 500;
}

.song-cover {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 4px;
}

.song-title {
  font-size: 14px;
  font-weight: 500;
}

.playlist-table-body mat-icon:hover {
  color: #ee10b0;
}
