<div class="container">
  @if(trackDetail){
  <div class="container-top">
    <div class="container-top-image">
      <img src="{{ this.trackDetail.thumbnailPath | imgConverter }}" alt="" />
    </div>
    <div class="container-top-detail">
      <div class="information">
        <div class="song-name" (click)="navigateToTrackDetail(trackDetail.id)">
          <p>{{ this.trackDetail.title }}</p>
        </div>
        <div class="author">
          <p>{{ this.trackDetail.artistName }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container-middle">
    <div
      class="container-middle-image"
      [ngStyle]="{ 'background-image': 'url(' + this.category.image + ')' }"
    ></div>
    <div class="container-middle-information">
      <div class="container-middle-information-author">
        <p>About Genre:</p>
        <span (click)="navigateToCategoryDetail(this.category.id)">{{
          this.category.name
        }}</span>
      </div>
    </div>
  </div>
  }
</div>
