<div class="container">
  <div class="container-top">
    <div class="container-top-image">
      <img src="https://photo-resize-zmp3.zadn.vn/w600_r1x1_jpeg/cover/9/d/5/c/9d5c56a277a06a48ec7956a4fd17e4c1.jpg" alt="">
    </div>
    <div class="container-top-detail">
      <div class="information">
        <div class="song-name">
          <p>Thằng điên</p>
        </div>
        <div class="author">
          <p>JUSTATEE, Phương Ly</p>
        </div>
      </div>
      <div class="share">
        <mat-icon fontSet="material-icons-outlined">share</mat-icon>
      </div>
    </div>
  </div>

  <div class="container-middle">
    <div class="container-middle-image">
      <p>About artist</p>
    </div>
    <div class="container-middle-information">
      <div class="container-middle-information-author">
        <p>Justatee</p>
        <p id="number-listeners">1,000,000 monthly listeners</p>
      </div>
      <div class="follow">
        <button class="button" mat-stroked-button>Follow</button>
      </div>
    </div>
  </div>

  <div class="container-bot">
    <p id="credits">Credits</p>
    <div class="credit-list">
      <div class="co-author">
        <p>Phương Ly</p>
        <p id="role">Main artist</p>
      </div>
      <div class="follow">
        <button class="button" mat-stroked-button>Follow</button>
      </div>
    </div>
    <div class="credit-list">
      <div class="co-author">
        <p>ViruSs</p>
        <p id="role">Composer</p>
      </div>
      <div class="follow">
        <button class="button" mat-stroked-button>Follow</button>
      </div>
    </div>
  </div>
</div>
