<div class="container">
  <div class="total-comments">
    <p>{{totalComment}} Comments</p>
  </div>
  <form class="comment-input" [formGroup]="commentForm" (ngSubmit)="createComment()">
    <div class="image">
<!--      <img src="{{profile.photoUrl}}" alt="">-->
    </div>
    <div class="form-fill">
        <mat-form-field appearance="fill" class="input">
          <input formControlName="content" matInput placeholder="Add a public comment...">
        </mat-form-field>
        <button mat-icon-button type="submit" aria-label="Send comment">
          <mat-icon>send</mat-icon>
        </button>
    </div>
  </form>
  @for(comment of commentList; track comment.id) {
    <div class="comments">
      <div class="image">
<!--        <img src="{{comment.profile?.photoUrl}}" alt="">-->
      </div>
      <div class="comment-info">
        <div class="comment-info-above">
          <p class="user">{{comment.profile.displayName}}</p>
          <p>{{comment.createdAt}}</p>
        </div>
        <div class="comment-info-below">
          <p>{{comment.content}}</p>
        </div>
      </div>
    </div>
  }
</div>
