<div class="container">
  <div class="total-comments">
    <p>3 Comments</p>
  </div>
  <div class="comment-input" [formGroup]="commentForm">
    <div class="image">
      <img src="{{profile.photoUrl}}" alt="">
    </div>
    <div class="form-fill">
      <p>
        <mat-form-field appearance="fill" class="input">
          <input (keydown.enter)="createComment()" formControlName="content" matInput placeholder="Add a public comment...">
        </mat-form-field>
      </p>
    </div>
  </div>
  <div class="comments">
    <div class="image">
      <img src="{{profile.photoUrl}}" alt="">
    </div>
    <div class="comment-info">
      <div class="comment-info-above">
        <p class="user">{{profile.displayName}}</p>
        <p>time</p>
      </div>
      <div class="comment-info-below">
        <p>{{profile.email}}</p>
      </div>
    </div>
  </div>
</div>
