<h2 mat-dialog-title>Create your playlist</h2>
<form class="dialog-detail" [formGroup]="form">
  <div mat-dialog-content class="dialog-container">
    <div class="image-box"
         (dragover)="onDragOver($event)"
         (dragleave)="onDragLeave($event)"
         (drop)="onDrop($event)"
         [class.dragging]="isDragging"
         (click)="fileInput.click()">

      @if (previewUrl) {
        <img [src]="previewUrl" alt="Preview" class="preview-img" />
      } @else {
        <mat-icon>image</mat-icon>
        <p class="hint">Drag & drop or choose file</p>
        <label  class="upload-btn">Choose Picture</label>
      }

      <input
        #fileInput
        type="file"
        id="pictureFile"
        hidden
        accept="image/*"
        (change)="onFileSelected($event)"
      />
    </div>



    <div class="input-box">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Playlist Name</mat-label>
        <input
          matInput
          placeholder="Add your playlist name"
          formControlName="title"
        />
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Description (optional)</mat-label>
        <textarea
          matInput
          placeholder="Add your description"
          formControlName="description"
        ></textarea>
      </mat-form-field>
    </div>
  </div>
</form>

<div mat-dialog-actions align="end">
  <button mat-flat-button class="save-btn" (click)="createPlaylist()">Save</button>
</div>

