@if ((isCategoriesLoading$ | async) ||
(isPlaylistsLoading$ | async)) {
  <div class="loading-container">
    <mat-spinner></mat-spinner>
  </div>
} @else {
  <main>
    <section class="content-scroll" tabindex="0" aria-label="Main content">

      <!-- Music Genres -->
      <div>
        <h2 class="section-title">Music <span>Genres</span></h2>
        <div class="horizontal-scroll-wrapper">
          <div class="horizontal-scroll" #genresScroll aria-label="Music genres">
            @for (genre of categories$ | async; track genre.id) {
              <div class="card" (click)="navigateToCategoryDetail(genre.id)">
                <img
                  src="{{ genre.image }}"
                  alt="{{ genre.name }}"
                  width="100"
                  height="96"
                />
                <p class="label">{{ genre.name }}</p>
              </div>
            }
          </div>
        </div>
      </div>

      <!-- Mood Playlist -->
      <div>
        <h2 class="section-title">Mood <span>Playlist</span></h2>
        <div class="horizontal-scroll-wrapper">
          <div class="horizontal-scroll" #moodScroll aria-label="Mood playlists">

            <!-- Giữ cả popularPlaylists-->
            @for (playlist of popularPlaylists; track $index) {
              <div class="card" (click)="navigateToPlaylistDetail(playlist.id)">
                <img
                  [src]="playlist.thumbnailPath"
                  [alt]="playlist.title"
                  width="100"
                  height="96"
                />
                <p class="label">{{ playlist.title }}</p>
                <p class="tracks">{{ playlist.trackCount }} tracks</p>
              </div>
            }
          </div>
        </div>
      </div>

      <!-- New Release Songs -->
      <section aria-labelledby="release-title">
        <h2 class="section-title">New Release <span>Songs</span></h2>
        @for (track of newReleaseTracks; track $index) {
          <app-music-tab [isFavorite]="track.isFavorite || false" [track]="track"></app-music-tab>
        }
      </section>
    </section>
  </main>
}
