<main>
  <section class="content-scroll" tabindex="0" aria-label="Main content">
    <!-- Music Genres -->
    <div>
      <h2 class="section-title">Music <span>Genres</span></h2>
      <div class="horizontal-scroll-wrapper">
        <!--          <button-->
        <!--            mat-icon-button-->
        <!--            class="scroll-btn"-->
        <!--            aria-label="Scroll left"-->
        <!--            style="left: 12px; right: auto;"-->
        <!--            (click)="scrollLeft()"-->
        <!--          >-->
        <!--            <mat-icon>arrow_back</mat-icon>-->
        <!--          </button>-->
        <!--          <button-->
        <!--            mat-icon-button-->
        <!--            class="scroll-btn"-->
        <!--            aria-label="Scroll right"-->
        <!--            (click)="scrollRight()"-->
        <!--          >-->
        <!--            <mat-icon>arrow_forward</mat-icon>-->
        <!--          </button>-->
        <div class="horizontal-scroll" #genresScroll aria-label="Music genres">
          @for (genre of categories$ | async; track genre.id) {
          <div class="card" (click)="navigateToCategoryDetail(genre.id)">
            <img
              src="{{ genre.image }}"
              alt="{{ genre.name }}"
              width="100"
              height="96"
            />
            <div class="play-btn">
              <mat-icon>play_arrow</mat-icon>
            </div>
            <p class="label">{{ genre.name }}</p>
          </div>
          }
        </div>
      </div>
    </div>
    <!-- Mood Playlist -->
    <div>
      <h2 class="section-title">Mood <span>Playlist</span></h2>
      <div class="horizontal-scroll-wrapper">
        <!--                <button-->
        <!--                  mat-icon-button-->
        <!--                  class="scroll-btn"-->
        <!--                  aria-label="Scroll left"-->
        <!--                  style="left: 12px; right: auto;"-->
        <!--&lt;!&ndash;                  (click)="scrollMoodLeft()"&ndash;&gt;-->
        <!--                >-->
        <!--                  <mat-icon>arrow_back</mat-icon>-->
        <!--                </button>-->
        <!--                <button-->
        <!--                  mat-icon-button-->
        <!--                  class="scroll-btn"-->
        <!--                  aria-label="Scroll right"-->
        <!--                  (click)="scrollMoodRight()"-->
        <!--                >-->
        <!--                  <mat-icon>arrow_forward</mat-icon>-->
        <!--                </button>-->
        <div class="horizontal-scroll" #moodScroll aria-label="Mood playlists">
          <div class="card" (click)="navigateToPlaylistDetail('new-released')">
            <img
              [src]="moodPlaylists[0].imageUrl"
              [alt]="moodPlaylists[0].name"
              width="100"
              height="96"
            />
            <p class="label">{{ moodPlaylists[0].name }}</p>
            <p class="tracks">{{ moodPlaylists[0].tracks }} tracks</p>
          </div>
          <div class="card" (click)="navigateToPlaylistDetail('popular')">
            <img
              [src]="moodPlaylists[1].imageUrl"
              [alt]="moodPlaylists[1].name"
              width="100"
              height="96"
            />
            <p class="label">{{ moodPlaylists[1].name }}</p>
            <p class="tracks">{{ moodPlaylists[1].tracks }} tracks</p>
          </div>
          @for (mood of moodPlaylists.slice(2); track $index) {
          <div class="card">
            <img
              [src]="mood.imageUrl"
              [alt]="mood.name"
              width="100"
              height="96"
            />
            <p class="label">{{ mood.name }}</p>
            <p class="tracks">{{ mood.tracks }} tracks</p>
          </div>
          }
        </div>
      </div>
    </div>
    <!-- New Release Songs -->
    <section aria-labelledby="release-title">
      <h2 class="section-title">New Release <span>Songs</span></h2>
      @for (track of newReleaseTracks; track $index) {
      <app-music-tab [track]="track"></app-music-tab>
      }
    </section>

    <!-- Popular Artists -->
    <div>
      <h2 class="section-title">Popular <span>Artists</span></h2>
      <div class="horizontal-scroll-wrapper">
        <!--            <button-->
        <!--              mat-icon-button-->
        <!--              class="scroll-btn"-->
        <!--              aria-label="Scroll left"-->
        <!--              style="left: 12px; right: auto;"-->
        <!--&lt;!&ndash;              (click)="scrollArtistLeft()"&ndash;&gt;-->
        <!--            >-->
        <!--              <mat-icon>arrow_back</mat-icon>-->
        <!--            </button>-->
        <!--            <button-->
        <!--              mat-icon-button-->
        <!--              class="scroll-btn"-->
        <!--              aria-label="Scroll right"-->
        <!--              (click)="scrollArtistRight()"-->
        <!--            >-->
        <!--              <mat-icon>arrow_forward</mat-icon>-->
        <!--            </button>-->
        <div class="popular-artists" #artistScroll aria-label="Popular artists">
          @for (artist of popularArtists; track $index) {
          <div class="artist">
            <img
              [src]="artist.imageUrl"
              [alt]="artist.name"
              width="56"
              height="56"
            />
            <p class="artist-name">{{ artist.name }}</p>
          </div>
          }
        </div>
      </div>
    </div>
  </section>
</main>
