::ng-deep.cdk-overlay-pane {
  background-color: unset !important;
}

::ng-deep.mat-mdc-snack-bar-actions {
  display: unset;
}

::ng-deep.mat-mdc-snack-bar-container .mat-mdc-snackbar-surface {
  background-color: black !important;
  color: var(--mat-sys-primary) !important;
  border-radius: 8px !important;
  padding: 0 8px !important;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black !important;
}
