<div class="album-container" [ngStyle]="{'background-image': 'url(' + albumDetail.mv + ')'}">
  <div class="album-image">
    <img src="{{albumDetail.album}}" alt="">
  </div>
  <div class="album-detail">
      <p>Song</p>
      <p class="song-title">{{albumDetail.name}}</p>
      <div class="detail">
        <span>{{albumDetail.date}}</span>
        <span> | </span>
        <span>{{albumDetail.duration}}</span>
        <span> | </span>
        <span>{{albumDetail.listenerCount}}</span>
      </div>
      <mat-list>
        <mat-list-item class="author">Author: {{albumDetail.artist}}</mat-list-item>
      </mat-list>
  </div>
</div>
