<div class="album-container" [ngStyle]="{'background-image': 'url(' + (trackDetail.thumbnailPath | imgConverter) + ')'}">
  <div class="album-image">
    <img src="{{trackDetail.thumbnailPath | imgConverter}}" alt="">
  </div>
  <div class="album-detail">
      <p>Song</p>
      <p class="song-title">{{trackDetail.title}}</p>
      <div class="detail">
        <span>{{trackDetail.createdAt}}</span>
        <span> | </span>
        <span>{{trackDetail.duration}}</span>
        <span> | </span>
        <span>{{trackDetail.viewCount}}</span>
      </div>
      <mat-list>
        <mat-list-item class="author">Author: {{trackDetail.artistName}}</mat-list-item>
      </mat-list>
  </div>
</div>
