.container{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  overflow: hidden;
}

::ng-deep mat-tab-group {
  width: 100%;
}
::ng-deep .mat-tab-body-wrapper {
  width: 100%;
}
::ng-deep .mat-tab-body {
  width: 100%;
}

::ng-deep mat-tab-body app-lyric .container {
  height: auto !important;
  max-height: none !important;
}

::ng-deep .mat-mdc-tab-group.mat-mdc-tab-group-stretch-tabs>.mat-mdc-tab-header .mat-mdc-tab {
  flex-grow: 0 !important;
}

::ng-deep.mat-mdc-tab-label-container {
  span{
    font-size: 16px !important;
  }
  border-bottom-style: none !important;
}

