<div class="song-item" tabindex="0" (click)="onPlayTrack(track)">
  <!-- Song info -->
  <div class="song-info">
    <img
      [src]="track.thumbnailPath | imgConverter"
      [alt]="'Song cover art for ' + track.title"
    />
    <div class="song-text">
      <div class="song-title">{{ track.title }}</div>
      <div class="song-artist">{{ track.artistName }}</div>
    </div>
  </div>

  <!-- Song created date -->
  <div class="song-date">{{ track.createdAt | date : "MMM dd, yyyy" }}</div>

  <!-- Song duration -->
  <div class="song-duration">{{ track.duration | duration }}</div>

  <!-- Song views -->
  <div class="song-views">{{ track.viewCount | number }} views</div>

  <div class="song-delete" (click)="$event.stopPropagation()">
            <mat-checkbox></mat-checkbox>
    </div>

  <!-- Actions -->
  <div class="song-actions">
    <button aria-label="Like song" (click)="$event.stopPropagation()">
      <mat-icon>favorite_border</mat-icon>
    </button>
    <!-- Nút mở menu -->
    <button
      mat-icon-button
      [matMenuTriggerFor]="menu"
      (click)="$event.stopPropagation();onOpenAddToPlaylist()"
      aria-label="Song options"
    >

      <mat-icon>more_vert</mat-icon>
    </button>

    <!-- Menu chính -->
    <mat-menu #menu="matMenu" [overlapTrigger]="false" yPosition="below" xPosition="after">
      <button mat-menu-item [matMenuTriggerFor]="addToPlaylistMenu">
        <mat-icon>playlist_add</mat-icon>
        <span>Add to playlist</span>
      </button>


      @if (playlists$ | async; as playlists) {
        @for (playlist of playlists; track playlist.id) {
          <button mat-menu-item (click)="onRemoveTrackFromPlaylist(playlist.id)">
            <mat-icon>delete</mat-icon>
            Remove from {{ playlist.title }}
          </button>
        }
      } @else {
        <button mat-menu-item disabled>No playlists found</button>
      }
    </mat-menu>

    <!-- Menu con: danh sách playlist -->
    <mat-menu #addToPlaylistMenu="matMenu">
      @if (playlists$ | async; as playlists) {
        @for (playlist of playlists; track playlist.id) {
          <button
            mat-menu-item
            (click)="onAddTrackToPlaylist(playlist.id)"
          >
            {{ playlist.title }}
          </button>
        }
      } @else {
        <button mat-menu-item disabled>
          No playlists found
        </button>
      }
    </mat-menu>

  </div>


</div>
